<a href="https://colab.research.google.com/github/ayush-142005/ApnaCollegepart1/blob/main/TA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path="/content/drive/MyDrive/health/complete (1).csv"
df=pd.read_csv(path)
print(df.head())

         Date Name of State / UT  Latitude  Longitude  Total Confirmed cases  \
0  2020-01-30             Kerala   10.8505    76.2711                    1.0
1  2020-01-31             Kerala   10.8505    76.2711                    1.0
2  2020-02-01             Kerala   10.8505    76.2711                    2.0
3  2020-02-02             Kerala   10.8505    76.2711                    3.0
4  2020-02-03             Kerala   10.8505    76.2711                    3.0

  Death  Cured/Discharged/Migrated  New cases  New deaths  New recovered
0     0                        0.0          0           0              0
1     0                        0.0          0           0              0
2     0                        0.0          1           0              0
3     0                        0.0          1           0              0
4     0                        0.0          0           0              0

In [ ]:
s1=mean_t=df['Total Confirmed cases'].mean()
s2=median_t=df['Total Confirmed cases'].median()
s3=std_t=df['Total Confirmed cases'].std()
print(f"Mean Total cases is {s1}")
print(f"Median Total cases is {s2}")
print(f"Standard Deviation is {s3}")

Mean Total cases is 11393.925191815857
Median Total cases is 619.0
Standard Deviation is 37208.60084622722

# Question 2

In [ ]:
# R programming
data1<-read.csv("/content/drive/MyDrive/health/unemployment.csv")
str(data1)

'data.frame':	267 obs. of  9 variables:
 $ Region                                 : chr  "Andhra Pradesh" "Andhra Pradesh" "Andhra Pradesh" "Andhra Pradesh" ...
 $ Date                                   : chr  " 31-01-2020" " 29-02-2020" " 31-03-2020" " 30-04-2020" ...
 $ Frequency                              : chr  " M" " M" " M" " M" ...
 $ Estimated.Unemployment.Rate....        : num  5.48 5.83 5.79 20.51 17.43 ...
 $ Estimated.Employed                     : int  16635535 16545652 15881197 11336911 12988845 19805400 15431615 15251776 15220312 15157557 ...
 $ Estimated.Labour.Participation.Rate....: num  41 40.9 39.2 33.1 36.5 ...
 $ Region.1                               : chr  "South" "South" "South" "South" ...
 $ longitude                              : num  15.9 15.9 15.9 15.9 15.9 ...
 $ latitude                               : num  79.7 79.7 79.7 79.7 79.7 ...

In [ ]:
mean1<-mean(data1$math_score)
median1<-median(data1$math_score)
std<-sd(data1$math_score)

r1<-mean(data1$reading_score)
r2<-median(data1$reading_score)
r3<-sd(data1$reading_score)

w1<-mean(data1$writing_score)
w2<-median(data1$writing_score)
w3<-sd(data1$writing_score)

print(paste("Mean :",mean1,"Median :",median1,"standard diviation",std))

Warning message in mean.default(data1$math_score):
“argument is not numeric or logical: returning NA”

# Question 3

In [ ]:
import numpy as np
import pandas as pd
e_data=pd.read_excel("/content/drive/MyDrive/health/employees.xlsx")
print(e_data.head(5))

   EMPLOYEE_ID FIRST_NAME  LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0          198     Donald   OConnell  DOCONNEL  650.507.9833 2007-06-21
1          199    Douglas      Grant    DGRANT  650.507.9844 2008-01-13
2          200   Jennifer     Whalen   JWHALEN  515.123.4444 2003-09-17
3          201    Michael  Hartstein  MHARTSTE  515.123.5555 2004-02-17
4          202        Pat        Fay      PFAY  603.123.6666 2005-08-17

     JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
0  SH_CLERK    2600             -         124             50
1  SH_CLERK    2600             -         124             50
2   AD_ASST    4400             -         101             10
3    MK_MAN   13000             -         100             20
4    MK_REP    6000             -         201             20

In [ ]:
e_data.dropna(inplace=True)
print(e_data)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0           198       Donald     OConnell  DOCONNEL  650.507.9833 2007-06-21
1           199      Douglas        Grant    DGRANT  650.507.9844 2008-01-13
2           200     Jennifer       Whalen   JWHALEN  515.123.4444 2003-09-17
3           201      Michael    Hartstein  MHARTSTE  515.123.5555 2004-02-17
4           202          Pat          Fay      PFAY  603.123.6666 2005-08-17
5           203        Susan       Mavris   SMAVRIS  515.123.7777 2002-06-07
6           204      Hermann         Baer     HBAER  515.123.8888 2002-06-07
7           205      Shelley      Higgins  SHIGGINS  515.123.8080 2002-06-07
8           206      William        Gietz    WGIETZ  515.123.8181 2002-06-07
9           100       Steven         King     SKING  515.123.4567 2003-06-17
10          101        Neena      Kochhar  NKOCHHAR  515.123.4568 2005-09-21
11          102          Lex      De Haan   LDEHAAN  515.123.4569 2001-01-13
12          103    Alexander       Hunold   AHUNOLD  590.423.4567 2006-01-03
13          104        Bruce        Ernst    BERNST  590.423.4568 2007-05-21
14          105        David       Austin   DAUSTIN  590.423.4569 2005-06-25
15          106        Valli    Pataballa  VPATABAL  590.423.4560 2006-02-05
16          107        Diana      Lorentz  DLORENTZ  590.423.5567 2007-02-07
17          108        Nancy    Greenberg  NGREENBE  515.124.4569 2002-08-17
18          109       Daniel       Faviet   DFAVIET  515.124.4169 2002-08-16
19          110         John         Chen     JCHEN  515.124.4269 2005-09-28
20          111       Ismael      Sciarra  ISCIARRA  515.124.4369 2005-09-30
21          112  Jose Manuel        Urman   JMURMAN  515.124.4469 2006-03-07
22          113         Luis         Popp     LPOPP  515.124.4567 2007-12-07
23          114          Den     Raphaely  DRAPHEAL  515.127.4561 2002-12-07
24          115    Alexander         Khoo     AKHOO  515.127.4562 2003-05-18
25          116       Shelli        Baida    SBAIDA  515.127.4563 2005-12-24
26          117        Sigal       Tobias   STOBIAS  515.127.4564 2005-07-24
27          118          Guy       Himuro   GHIMURO  515.127.4565 2006-11-15
28          119        Karen   Colmenares  KCOLMENA  515.127.4566 2007-08-10
29          120      Matthew        Weiss    MWEISS  650.123.1234 2004-07-18
30          121         Adam        Fripp    AFRIPP  650.123.2234 2005-04-10
31          122        Payam     Kaufling  PKAUFLIN  650.123.3234 2003-05-01
32          123       Shanta      Vollman  SVOLLMAN  650.123.4234 2005-10-10
33          124        Kevin      Mourgos  KMOURGOS  650.123.5234 2007-11-16
34          125        Julia        Nayer    JNAYER  650.124.1214 2005-07-16
35          126        Irene  Mikkilineni  IMIKKILI  650.124.1224 2006-09-28
36          127        James       Landry   JLANDRY  650.124.1334 2007-01-14
37          128       Steven       Markle   SMARKLE  650.124.1434 2008-03-08
38          129        Laura       Bissot   LBISSOT  650.124.5234 2005-08-20
39          130        Mozhe     Atkinson  MATKINSO  650.124.6234 2005-10-30
40          131        James       Marlow   JAMRLOW  650.124.7234 2005-02-16
41          132           TJ        Olson   TJOLSON  650.124.8234 2007-04-10
42          133        Jason       Mallin   JMALLIN  650.127.1934 2004-06-14
43          134      Michael       Rogers   MROGERS  650.127.1834 2006-08-26
44          135           Ki          Gee      KGEE  650.127.1734 2007-12-12
45          136        Hazel   Philtanker  HPHILTAN  650.127.1634 2008-02-06
46          137       Renske       Ladwig   RLADWIG  650.121.1234 2003-07-14
47          138      Stephen       Stiles   SSTILES  650.121.2034 2005-10-26
48          139         John          Seo      JSEO  650.121.2019 2006-02-12
49          140       Joshua        Patel    JPATEL  650.121.1834 2006-04-06

        JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
0     SH_CLERK    2600             -         124             50
1     SH_CLERK    2600             -         124             50
2      AD_ASST    4400             -         101             10
3       MK_MAN   13000             -         100             20
4       MK_REP    6000             -         201             20
5       HR_REP    6500             -         101             40
6       PR_REP   10000             -         101             70
7       AC_MGR   12008             -         101            110
8   AC_ACCOUNT    8300             -         205            110
9      AD_PRES   24000             -          -              90
10       AD_VP   17000             -         100             90
11       AD_VP   17000             -         100             90
12     IT_PROG    9000             -         102             60
13     IT_PROG    6000             -         103             60
14     IT_PROG    4800             -         103             60
15     IT_PROG    4800             -         103             60
16     IT_PROG    4200             -         103             60
17      FI_MGR   12008             -         101            100
18  FI_ACCOUNT    9000             -         108            100
19  FI_ACCOUNT    8200             -         108            100
20  FI_ACCOUNT    7700             -         108            100
21  FI_ACCOUNT    7800             -         108            100
22  FI_ACCOUNT    6900             -         108            100
23      PU_MAN   11000             -         100             30
24    PU_CLERK    3100             -         114             30
25    PU_CLERK    2900             -         114             30
26    PU_CLERK    2800             -         114             30
27    PU_CLERK    2600             -         114             30
28    PU_CLERK    2500             -         114             30
29      ST_MAN    8000             -         100             50
30      ST_MAN    8200             -         100             50
31      ST_MAN    7900             -         100             50
32      ST_MAN    6500             -         100             50
33      ST_MAN    5800             -         100             50
34    ST_CLERK    3200             -         120             50
35    ST_CLERK    2700             -         120             50
36    ST_CLERK    2400             -         120             50
37    ST_CLERK    2200             -         120             50
38    ST_CLERK    3300             -         121             50
39    ST_CLERK    2800             -         121             50
40    ST_CLERK    2500             -         121             50
41    ST_CLERK    2100             -         121             50
42    ST_CLERK    3300             -         122             50
43    ST_CLERK    2900             -         122             50
44    ST_CLERK    2400             -         122             50
45    ST_CLERK    2200             -         122             50
46    ST_CLERK    3600             -         123             50
47    ST_CLERK    3200             -         123             50
48    ST_CLERK    2700             -         123             50
49    ST_CLERK    2500             -         123             50

In [ ]:
average_=e_data['SALARY'].mean()
average_

6182.32

In [ ]:
highest=e_data['SALARY'].max()
highest

24000